/*======================
====Global Elements=====
=======================*/
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 12px;
}

p, a, input, label, td, button {
  font-size: 14px;
}

a{
  text-decoration: none;
  display: block;
}

a:visited{
  color: inherit;
}

main,
.aside-nav {
  min-height: 100%;
}

/*======================
========Aside Bar=======
=======================*/

.aside-nav {
  width: 200px;
  min-width: 200px;
  background-color: #283041;
  color: #9EAAC0;
}

.aside-profile.links {
  height: 150px;
  padding-top: 25px;
  text-align: center;
}

.links {
  padding: 25px;
  border-bottom: solid 2px #23293A;
}

.profile-picture {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.aside-title {
  margin-bottom: 10px;
  opacity: .5;
}

.aside-link {
  display: block;
  padding: 10px 0 10px 25px;
  background-position-y: 46%;
  background-image: url('assets/icons/briefcase.svg');
  background-repeat: no-repeat;
  background-size: 15px;
}

.checkbox-label {
  display: block;
  padding: 5px 0;
  line-height: 15px;
}

.aside-checkbox {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
/*======================
========Main Box========
=======================*/

main {
  width: 100%;
}

/*======================
==========Nav===========
=======================*/

.menu {
  display: flex;
  height: 75px;
  border: solid #F0F0F0 2px;
}

.menu-item {
  height: 100%;
  width: 75px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: 50%;
  background-position-x: 50%;
  border: none;
  border-right: solid #F0F0F0 2px;
}

.search {
  flex: 1;
}

.hamburger-icon {
  background-image: url("assets/icons/menu.svg");
}

.search {
  padding-left: 60px;
  background-image: url("assets/icons/search.svg");
  background-position-x: 25px;
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  opacity: .8;
}

.new-profile-icon {
  background-image: url("assets/icons/user.svg");
}

.calendar-icon {
  background-image: url("assets/icons/calendar.svg");
}

.grid-icon {
  background-image: url("assets/icons/grid-menu.svg");
  border-right: none;
}


/*======================
=========Header=========
=======================*/

.title-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.job-location,
.preview {
  display: inline-block;
  padding: 10px;
}

.job-location {
  line-height: 12px;
  padding-left: 15px;
  background-image: url("assets/icons/location.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position-y: 50%;
}

.header-btn-container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-btn {
  height: 35px;
  width: 35px;
  margin-left: 15px;
  border: solid #F0F0F0 2px;
  border-radius: 50%;
  background: none;
  background-image: url("assets/icons/edit.svg");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.open-btn {
  margin-left: 0;
  width: 70px;
  border-radius: 25px;
  background: none;
}

.status-circle {
  display: inline-block;
  background: #79C12D;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

/*======================
========Tab Bar=========
=======================*/

.tab-bar {
  padding: 0 30px;
  border-bottom: 2px solid #F0F0F0;
}

.tab-link {
  display: inline-block;
  padding: 15px 0;
  margin-right: 30px;
  border-bottom: solid white 4px;
}

.tab-link:hover {
  border-bottom: solid blue 4px;
  font-weight: 700;
}

.notifications-tab {
  margin-right: 0;
}

/*======================
=========Charts=========
=======================*/
.chart-area {
  background-color: grey;
  display: flex;
}

.progress-charts {
}

.graph {
  width: 40%;
}

/*======================
========Separator=======
=======================*/




/*======================
==========Table=========
=======================*/
.table-contact {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #E8EFF4;
}

table {
  width: 60%;
  border-collapse: collapse;
  background-color: white;
}

thead {
  background-color: #5B6983;
}

th {
  padding: 20px;
  text-align: left;
}

.table-header {
  padding-right: 0
}

tr {
  display: flex;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  border-bottom: solid #F0F0F0 2px;
}

td {
  vertical-align: top;
  padding: 20px;
  line-height: 16px;
}

tr:last-child {
  border-bottom: none;
}

.table-title {
  min-width: 155px;
  padding-right: 0;
}

.table-description {
}


/*======================
=========Contact========
=======================*/

.contact-box {
  width: 35%;
}

.social-media {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-y: 50%;
  background-position-x: 20px;
  color: #fff;
}

.facebook {
  background-color: #3854B8;
  background-image: url(assets/icons/facebook.svg);
}
.twitter {
  background-color: #0094EE;
  background-image: url(assets/icons/twitter.svg);
}
.linkedin {
  margin-bottom: 0;
  background-color: #006AB1;
  background-image: url(assets/icons/linkedin.svg);
}


.job-link {
  padding-top: 30px;
}

/*======================
=========Objects========
=======================*/
.up-arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 50%;
  text-align: center;
}

.up-arrow:after {
  margin-top: 10px;
  content: '';
	display: inline-block;
  width: 5px;
  height: 5px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  transform: rotate(-45deg);
}
